.items ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.items li {
	min-width: 100px;
	display: inline-block;
	margin: 10px;
	padding: 10px;
	text-align: center;
	background-color: #fff;
	color: #5c5c5c;
	transition: color 0.2s, background-color 0.2s, border-radius 0.2s;
}

.items li:hover {
	min-width: 100px;
	display: inline-block;
	margin: 10px;
	padding: 10px;
	text-align: center;
	background-color: #333;
	color: #d3d3d3;
	transition: color 0.2s, background-color 0.2s, border-radius 0.2s;
}
