.items ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.items li {
	min-width: 100px;
	display: inline-block;
	margin: 10px;
	padding: 10px;
	text-align: center;
	background-color: #777;
	color: #eee;
	border-radius: 999px;
}
