.resMsg {
	color: red;
}

.userpageHeader{
	width: 100%;
	margin: 0 0 30px 0;
}

.userpageHeader ul {
	list-style: none;
	padding: 0;
	margin-top: 2px;
}

.userpageHeader li {
	text-align: center;
	width: 100px;
	display: inline-block;
	padding: 10px;
	margin-right: 2px;
	font-weight: bold;
	color: #5c5c5c;
	cursor: pointer;
}

.userpageHeader li:hover {
	text-align: center;
	display: inline-block;
	padding: 10px;
	margin-right: 2px;
	background-color: #000;
	color: #d3d3d3;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.2s, color 0.2s;
}

.challengeList {
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	transition: background-color 0.1s, color 0.1s;
}

.challengeList:hover {
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.challengeList:active {
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px 3px #ccc;
	background-color: #333;
	color: #d3d3d3;
	transition: background-color 0.1s, color 0.1s;
}

.listName {
	font-weight: bold;
}

.listDeleteBtn {
	display: inline-block;
	float: right;
	padding: 5px;
	font-weight: bold;
	background-color: #eee;
	border: none;
}

.listDescription {
	padding: 10px;
}

.items {
	
}

.items ul{
	list-style: none;	
	margin: 0;
	padding: 0;
}

.item {
	padding: 5px;
	font-weight: bold;
}

.item:hover {
	border-radius: 10px;
	padding: 5px;
	font-weight: bold;
	background-color: #333;
	color: #d3d3d3;
	transition: border-radius 0.2s, background-color 0.2s, color 0.2s;
}

.checkItem {
}

.itemtext {
	margin-left: 10px;
}

.itemDeleteBtn {
	display: inline-block;
	float: right;
	padding: 5px;
	font-weight: bold;
	background-color: inherit;
	color: white;
	border: none;
	cursor: pointer;
}
