.stringSearch {
	background-color: inherit;
	width: 80%;
	padding: 10px;
	border: 2px solid #82a1b3;
	border-radius: 20px;
}

.stringSearch:focus {
	width: 80%;
	padding: 10px;
	outline: none;
	border: 2px solid #82a1b3;
	border-radius: 20px;
}

.stringSearchButton {
	background-color: inherit;
	padding: 10px;
	margin-left: 5px;
	outline: none;
	border: 2px solid #82a1b3;
	border-radius: 20px;
	cursor: pointer;
}

.stringSearchButton:hover {
	padding: 10px;
	margin-left: 5px;
	background-color: #eee;
	outline: none;
	border: 2px solid #888;
	border-radius: 20px;
	cursor: pointer;
	transition: background-color 0.2s;
	transition: border-color 0.2s;
}
