.footerWrapper {
	width: 100%;
	min-height: 250px;
	color: #333;
}

.footerContent {
	padding: 50px;
}

.footerCol {
	width: 30%;
	float: left;
}


.footerContent li {
	list-style: none;
	transform: translate(-20px, 0);
}

.footerContent a {
	text-decoration: none;
	color: #333;
}

.footerContent a:hover {
	text-decoration: underline;
	color: #000;
}
