.footerWrapper {
	width: 100%;
	min-height: 200px;
	color: #eee;
	background-color: #333;
}

.footerContent {
	padding: 50px;
}

.footerContent li {
	list-style: none;
	transform: translate(-20px, 0);
}

.footerContent a {
	text-decoration: none;
	color: #eee;
}

.footerContent a:hover {
	text-decoration: underline;
	color: #999;
}
