.header {
	margin: 0;
	padding: 0;
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
}

.header a{
	text-decoration: none;
}

.headerItem {
	text-align: center;
}

.headerItem:hover {
	background-color: #eaeaea;	
	color: #fff;
}

.headerLeftItem {
	width: 10%;
	list-style: none;
	padding: 10px;
	float: left;
}

.headerRightItem {
	width: 10%;
	list-style: none;
	padding: 10px;
	float: right;
}
