.header {
	margin: 0;
	padding: 0;
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 999;
	background-color: #fefefe;
}

.header a{
	text-decoration: none;
	color: #333;
}

.headerItem {
	text-align: center;
}

.headerItem:hover {
	background-color: #eaeaea;	
	color: #fff;
}

.headerLeftItem {
	list-style: none;
	padding: 10px;
	float: left;
}

.headerRightItem {
	cursor: pointer;
	list-style: none;
	padding: 10px;
	float: right;
	color: #333;
}
