.container {
	max-width: 36rem;
	padding: 0 1rem;
	margin: 3rem auto 6rem;
}

.container a {
	text-decoration: none;
}

.container a:hover {
	text-decoration: underline;
}

.header {
	display: flex;
	padding: 20px;
	font-size: 0.8em;
}

.header a{
	text-decoration: none;
}

.backToHome {
	margin: 3rem 0 0;
}

.siteLogo {
	width: 90%;
	float: left;
}

.headerIcon {
	margin: 0 15px 0 15px;
	float: right;
}

.headerLink {
	margin: 0 15px 0 15px;
	float: right;
}
