.container {
	max-width: 36rem;
	padding: 0 1rem;
	margin: 3rem auto 6rem;
}

.header {
	display: flex;
	padding: 20px;
}

.backToHome {
	margin: 3rem 0 0;
}

.siteLogo {
	width: 90%;
	float: left;
}

.headerIcon {
	margin: 10px 15px 15px 15px;
	float: right;
}

.headerLink {
	margin: 5px 15px 15px 15px;
	float: right;
}
