.loadPage {
	background-color: #333;
	width: 100%;
	height: 100vh;

	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.9;
	z-index: 9999;

	animation-name: slideOut;
	animation-delay: 0.5s;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.loadPageText {
	color: #eee;
	font-size: 6em;

	position: fixed;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}

@keyframes slideOut {
	0% {
		transform: translate(0, 0);
		opacity: 0.9;
	}
	100% {
		transform: translate(0%, -100%);
		opacity: 0.2;
	}
}
