.thinkingAnalyzerCard {
	padding: 10px;
}

.thinkingAnalyzerList {
	padding-left: 20px;
}

.detailTarget {
}

.detailTable {
	border-collapse: collapse;
}

.detailTable th{
	background-color: whiteSmoke;
	width: 100px;
	padding: 5px;
	border: solid 1px black;
}

.detailTable td{
	width: 100px;
	padding: 5px;
	border: solid 1px black;
}

