.indexPage {
	margin: auto;
	max-width: 40em;
}

.indexPage a {
	text-decoration: none;
}

.indexPage a:hover {
	text-decoration: underline;
}

.textCard {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.centerText {
	position: fixed;
	top: 40%;
	transition: translate(0, -50%);
	opacity: 0;
	animation-name: fadeIn;
	animation-delay: 0.5s;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	0% {
	}
	100% {
		opacity: 1;
	}
}


