.indexPage {
	margin: auto;
	max-width: 40em;
}

.indexPage a {
	text-decoration: none;
}

.indexPage a:hover {
	text-decoration: underline;
}

.textCard {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.centerText {
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}


@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
