.addCardForm {
	max-width: 700px;
	margin: auto;
}

.addCardTitle {
	padding: 20px;
	margin: 20px 0 20px 0;
	border-radius: 20px;
	background-color: #ffe3c2;
}

.addCardTitle textarea{
	width: 100%;
	height: 100px;
	padding: 10px;
	border: none;
	border-radius: 10px;
	background-color: #f9f9f9;
	resize: none;
}

.addCardInput {
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	background-color: #f9f9f9;
	border: none;
	border-radius: 20px;
}

.addCardInput:focus {
	background-color: #f9f9f9;
}

.addCardDetail {
	margin: 20px 0 20px 0;
	padding: 20px;
	border-radius: 30px;
	background-color: #ffe3c2;
}

.addCardDetailItem {
	margin-Top: 20px;
	padding-bottom: 10px;
}

.addButton {
	padding: 20px;
	background-color: #ffe8de;
	border: none;
	border-radius: 20px;
	cursor: pointer;
}
