/*
 * heading
 */

.headerFont {
	font-family: Georgia, serif;
}

.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.bigHeader {
	font-size: 10em;
}

/*
 * border
 */

.radiusBorder5px {
	border: 1.5px solid black;	
	border-radius: 30px;
	padding: 10px;
}


/*
 * circle
 */

.borderCircle {
  border-radius: 9999px;
}


/*
 * color
 */

.colorInherit {
  color: inherit;
}

.textColorBlack {
	color: black;
}


/*
 * padding
 */
.padding1px {
  padding-top: 1px;
}

.padding10px {
  padding: 10px;
}

.padding20px {
  padding: 20px;
}

/*
 * margin
 */

.margin10px {
	margin: 10px;
}

.marginTop150px {
	margin-top: 150px;
}


/*
 * list
 */

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

/*
 * text
 */
 
.lightText {
  color: #666;
}

.textAlign {
	text-align: center;
}

.noneDecoration {
	text-decoration: none;
}

.gradientColorText {
	background: linear-gradient(90deg, #0026ff, #ff0d45, #ff1c24);
		-webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

/*
 * flex box
 */

.flexContainer {
	width: 100%;
}

/*
 * others
 */

.width36emAndMarginAuto {
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
}

.card {
	margin: 20px auto;
	padding: 15px;
	width: 50%;
	height: 120px;
	float: left;
}

/*
 * Animation
 */

.fadeIn {
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 0.7s;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media only screen and (max-width: 1000px) {
	.card {
		width: 100%
	}
}
